#addBot {
    font-size: 30px;
    color: lightgreen;
    text-align: center;
    border-radius: 4px;
}

#main {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
 .topBar {
     background-color: #191a1a;
     overflow: hidden;
     position: fixed; /* Sit on top of the page content */
    }
 .topBar a {
     float: right;
     color: #FFFFFF;
     text-align: center;
     padding: 13px 18px;
     text-decoration: none;
     font-size: 18px;
     }
